/*
css\style.css
Folhas de estilo do template do site.
*/

body {
    background-color: cadetblue;
}

/* Classe azul aplicada somente para paráfros */
p.azul,
div.azul {
    background-color: aqua;
    padding: 1rem;
    margin: 0;
    border: 1px solid black;
}

img.azul {
    display: block;
    border-radius: 50%;
}

/* Pai de todos */
#wrap {

}


h1 {
    /* Oculta o H1 com nome do site */
    /* display: none; */
}