/*
css\style.css
Folhas de estilo do template do site.
*/

/* Importa fonte Robot do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset Geral */

* {
    box-sizing: border-box;
    outline: none;
}

/* Fonte padrão e tamanho */

html, body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    /*
    A linha acima ativa a unidade de medida "rem" onde:
     1rem = 16px
     .5rem = 8px
     .25rem = 4px
     2rem = 32px
     3rem = 48px
     */
}